<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!-- Your app title -->
    <title>问题详情</title>
    <!-- Path to Framework7 iOS CSS theme styles-->
    <link rel="stylesheet" href="../../Assets/Framework7-1.5.3/dist/css/framework7.ios.min.css">
    <!-- Path to Framework7 iOS related color styles -->
    <link rel="stylesheet" href="../../Assets/Framework7-1.5.3/dist/css/framework7.ios.colors.min.css">
    <!-- Path to your custom app styles-->
    <link rel="stylesheet" href="../../Assets/Framework7-1.5.3/dist/css/my-app.css">
    <link rel="stylesheet" href="../../Assets/css/content.css">
</head>
<body>
<!-- Views -->
<div class="views">
    <!-- Your main view, should have "view-main" class -->
    <div class="view view-main">
        <div class="detail-box" id="cont">
        <script type="text/html" id="contTemplate">
            {{#with data[0]}}
            <h2 class="q-title">{{title}}</h2>
            <div class="q-content">
                <div>
                    <div style="line-height: 21px;">
                        {{content}}
                    </div>
                </div>
            </div>
            <div class="praise">
                <div class="result wx" id="feedback_b">
                    <a onclick="feedback(1)" id="yes" class="external"><i class="icon-like"></i>已解决</a>
                    <a onclick="feedback(0)" id="no" class="external"><i class="icon-repost"></i>未解决</a>
                </div>
                <div class="result wx" id="feedback_b_z" style="display:none">
                    <a class="current acive external"><i class="icon-like"></i>已解决</a>
                    <a><i class="icon-repost external"></i>未解决</a>
                </div>
                <div class="result wx" id="feedback_b_z_c" style="display:none">
                    <a><i class="icon-like external"></i>已解决</a>
                    <a class="current acive external"><i class="icon-repost"></i>未解决</a>
                </div>
            </div>
            {{/with}}
            </script>
        </div>
    </div>
</div>
    <!-- Path to Framework7 Library JS-->
    <script type="text/javascript" src="../../Assets/Framework7-1.5.3/dist/js/framework7.min.js"></script>
    <!-- Path to your app js-->
    <script type="text/javascript" src="../../Assets/Framework7-1.5.3/dist/js/my-app.js"></script>
    <script type="text/javascript" src="../../Assets/js/jquery-1.11.0.js"></script>
    <script type="text/javascript">
        var id = 0;
        var url = window.location.search;
        id = url.substring(url.lastIndexOf('=')+1, url.length);
        $$.getJSON("http://api.iwut.wutnews.net/question/getcontent?id="+id, function (result) {

            if(result.data.length == 0) return;

            var questionTemplate = $$('#contTemplate').html();
            $$('#cont').html(Template7.compile(questionTemplate)(result));
        });
       function feedback(c) {
    document.getElementById("feedback_b").style.display = 'none';
    if(c == 1)
    {
        document.getElementById("feedback_b_z").style.display = 'block';
        $.ajax({
                type:"GET",
                url:"http://api.iwut.wutnews.net/question/like?id=2&like=1",                
                data: {
                    "like":1,
                    "id":id
                }})
    }
    if(c == 0)
    {
        document.getElementById("feedback_b_z_c").style.display = 'block';
        document.getElementById("reason").style.display = 'block';
    }
}
function des(x){
    if(x==1)
    {
        $$("#des").addClass("current");
        $.ajax({
                type:"GET",
                url:"http://api.iwut.wutnews.net/question/like?id=2&dislike=1",
                 
                data: {
                    "dislike":1,
                    "id":id
                }})
    }
    if(x==2)
    {
        $$("#ope").addClass("current");
        $.ajax({
                type:"GET",
                url:"http://api.iwut.wutnews.net/question/like?id=2&dislike=1",
                 
                data: {
                    "dislike":2,
                    "id":id
                }})
    }
    if(x==3)
    {
        $$("#rul").addClass("current");
        $.ajax({
                type:"GET",
                url:"http://api.iwut.wutnews.net/question/like?id=2&dislike=1",
                 
                data: {
                    "dislike":3,
                    "id":id
                }})
    }
    if(x==4)
    {
        $$("#fun").addClass("current");
        $.ajax({
                type:"GET",
                url:"http://api.iwut.wutnews.net/question/like?id=2&dislike=1",
                 
                data: {
                    "dislike":4,
                    "id":id
                }})
    }
}
    </script>
</body>
</html>